### Turtle Graphics

In [ ]:
# design Spiral star
import turtle as t
a1 = t.Turtle()
a1.pencolor('blue')
for i in range(50):
    a1.forward(i * 10)
    a1.left(144)
t.done()

In [ ]:
# design Spiral square
import turtle as t
a1 = t.Turtle()
for i in range(500):
    a1.forward(i)
    a1.left(91)
t.done()

In [ ]:
# Design Hexagon
from turtle import *
pencolor('blue')
colors = ['blue','green','black','yellow','red','purple']
for i in range(360):
    pencolor(colors[i%6])
    width(i/100+1)
    forward(i)
    left(59)

In [ ]:
# Design circle
from turtle import *
pensize(10)
pencolor('green')
fillcolor('black')
begin_fill()
circle(50)
end_fill()

In [ ]:
# Design Tangent Circle
from turtle import *
pensize(3)
pencolor('purple')
for i in range(15):
    circle(10 * i)

In [ ]:
# Design Tangent Circle
from turtle import *
pensize(3)
pencolor('purple')
for i in range(100):
    circle(10+i,45)

In [ ]:
# Design Circle
from turtle import *
pensize(3)
colors = ('black','yellow','green','red','blue','pink')
for i in range(30):
    pencolor(colors[i%6])
    circle(10*i)
    up()
    sety((10*i)*(-1))
    down()

In [ ]:
# Design olympic logo
from turtle import *
pensize(6)
r1 = ('black','red','blue')
for i in range(3):
    penup()
    pencolor(r1[i%3])
    goto(i*100,0)
    pendown()
    circle(45)
r2 = ["","yellow","","green"]
for i in range(1,4,2):
    penup()
    pencolor(r2[i])
    goto(i*55,-55)
    pendown()
    circle(50)

In [ ]:
# Design Audi logo
from turtle import *
pensize(6)
pencolor('black')
for i in range(4):
    penup()
    goto(i*70,0)
    pendown()
    circle(45)

In [ ]:
# code for generating the rectangle 
from turtle import *
bgcolor('green')
color('#2B28F6')
fillcolor('#2B28F6')
penup()
goto(0,0)
begin_fill()
forward(570)
left(90)
forward(80)
left(90)
forward(570)
left(90)
forward(80)
end_fill()

# Code for drawing the roof
pensize(6)
penup()
goto(100,50)
pendown()
setheading(45)
forward(100)
setheading(0)
forward(250)
setheading(-45)
forward(100)
setheading(90)
penup()
goto(300,50)
pendown()
forward(75)

# code for drwaing two tyres
penup()
goto(200,-10)
pendown()
color('black')
fillcolor('black')
begin_fill()
circle(20)
end_fill()
penup()
goto(400,-10)
pendown()
color('black')
fillcolor('black')
begin_fill()
circle(20)
end_fill()

### Idiomatic Python
- transformation of code into beautiful,idiomatic python
- replaces traditional index manipulation with python code looping idioms

In [2]:
# looping over a range of numbers
for i in [0,1,2,3,4,5]:
    print(i ** 2,end=' ')
print()

0 1 4 9 16 25

In [8]:
# looping over a range of numbers
for i in [0,1,2,3,4,5]:
    print(i ** 2,end=' ')
    
print()
# pythonic way
for i in range(6):
        print(i ** 2,end=' ')

0 1 4 9 16 25
0 1 4 9 16 25

In [10]:
# looping over the collections(list)
li = [1,2,3,4,5]
for i in range(len(li)):
    print(li[i],end=' ')
print()
# pythonic way
for i  in li:
    print(i,end=' ')

1 2 3 4 5
1 2 3 4 5

In [11]:
# Lop=oping from backwards
li = [1,2,3,4,5]
for i in range(len(li)-1,-1,-1):
    print(li[i],end=' ')
print()
# pythonic way
for i in reversed(li):
    print(i,end=' ')

5 4 3 2 1
5 4 3 2 1

In [13]:
# looping over the collection with index
li = [1,2,3,4,5]
for i in range(len(li)):
    print(i,'-->',li[i])
print()
# Pythonic way
for i,a,in enumerate(li):
    print(i,'-->',a)

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

In [15]:
# looping over two collections
li = [1,2,3,4,5]
a = [1,2,3,4,5,6,8]
n = min(len(li),len(a))
for i in range(n):
    print(li[i],' ',a[i])

print()
# pythonic way
for i,a in zip(li,a):
    print(i,' ',a)

1   1
2   2
3   3
4   4
5   5

1   1
2   2
3   3
4   4
5   5

In [16]:
# looping in sorted order
li = [8,1,25,16,9,2]
for i in sorted(li):
    print(i,end=' ')
    
print()
for i in sorted(li,reverse=True):
    print(i,end=' ')

1 2 8 9 16 25
25 16 9 8 2 1

In [23]:
# Dictionary
d = {'name':'gitam','emailID':'gitam@gitam.edu','address':'vizag'}
for k in d:
    print(k,end=' ')
print(d)

name emailID address {'name': 'gitam', 'emailID': 'gitam@gitam.edu', 'address': 'vizag'}

In [24]:
for k in d.keys():
    if k.startswith('A'):
        del d[k]
print(d)

{'name': 'gitam', 'emailID': 'gitam@gitam.edu', 'address': 'vizag'}

In [25]:
for k in d.values():
    print(k,end=' ')

gitam gitam@gitam.edu vizag

# list comprehensions

In [26]:
li =[]
for i in range(10):
    a = i** 2
    li.append(a)
    
print(sum(li))
print()

#pythonic way
sum(i**2 for i in range(10))

285

285

### Lambda Functions
- anonymous functions means that a function without a name
- any lambda function on python will be declined with lambda
- syntax:lambda ard:expression

In [17]:
def square(n):
    return n*n
square(10)

100

In [21]:
a = lambda x : x * x
print(a(10))

100

### Use of lambda with filter

In [32]:
def filterList(li):
    a = []
    for i in li:
            if i % 2 == 0:
                a.append(i)
    return a
li = [1,2,3,4,5,6,7,8]
filterList(li)

[2, 4, 6, 8]

In [33]:
li = [1,2,3,4,5,6,7,8]
lam_li = list(filter(lambda x : (x%2==0),li))
print(lam_li)

[2, 4, 6, 8]

In [37]:
def sqaureList(li):
    a = []
    for i in li:
        a.append(i*2)
    return a
li = [1,2,3,4,5,6,7,8]
sqaureList(li)

[2, 4, 6, 8, 10, 12, 14, 16]

In [39]:
li = [1,2,3,4,5,6,7,8]
map_list = list(map(lambda x : x*2,li))
print(map_list)

[2, 4, 6, 8, 10, 12, 14, 16]

### Lambda with reduce()

In [4]:
def sumList(li):
    s = 0
    for i in li:
        s += i
    return s
li = [1,2,3,4,5,6,7,8]
sumList(li)

36

In [5]:
from functools import reduce
li = [1,2,3,4,5,6,7,8]
s = reduce((lambda x,y:x+y),li)
print(s)

36

### standard package

### Pandas,Numpy and matplotlib

#### Pandas
### Use cases
- data learning
- data frustration
- data analysis
### Notations
- series
   - a series is a one dimensional object that can hold it
- dataframes

In [5]:
import pandas as pd
internal1 = {'s1':35,'s2':35,'s3':35}
internal2 = {'s1':35,'s2':35,'s3':35}
internal1 = pd.Series(internal1)
internal2 = pd.Series(internal2)
print(internal1)
print(internal2)

s1    35
s2    35
s3    35
dtype: int64
s1    35
s2    35
s3    35
dtype: int64

In [6]:
final = {'internal1':internal1,'internal2':internal2}
final = pd.DataFrame(final)
print(final)

    internal1  internal2
s1         35         35
s2         35         35
s3         35         35

In [7]:
final = {'internal1':internal1,'internal2':internal2}
final = pd.DataFrame(final)
print(final)
print(type(final))

    internal1  internal2
s1         35         35
s2         35         35
s3         35         35
<class 'pandas.core.frame.DataFrame'>

In [8]:
final.columns # Returns the names of columns

Index(['internal1', 'internal2'], dtype='object')

In [9]:
final.values

array([[35, 35],
       [35, 35],
       [35, 35]], dtype=int64)

In [10]:
final.values[1]

array([35, 35], dtype=int64)

In [11]:
final.values[2][0] = 350

In [12]:
final.values

array([[ 35,  35],
       [ 35,  35],
       [350,  35]], dtype=int64)

In [16]:
for row in final.values:
    print('Internal1 - ',row[0],'Internal2 - ',row[1])

Internal1 -  35 Internal2 -  35
Internal1 -  35 Internal2 -  35
Internal1 -  350 Internal2 -  35

In [17]:
final.loc['s4'] = [20,18]
final

    internal1  internal2
s1         35         35
s2         35         35
s3        350         35
s4         20         18

In [18]:
final.values[2] = [155,255]
final

    internal1  internal2
s1         35         35
s2         35         35
s3        155        255
s4         20         18

In [22]:
import pandas as pd
data = pd.read_csv('Book1.csv')
data.head()

     egr tuyujygju
0  grdtg    hgtfyh

In [37]:
pwd

'C:\\Users\\Siri'

In [42]:
filePath = 'C:\\Users\\Siri\\Downloads\\Income.csv'
def readCsvData(filePath):
     return pd.read_csv(filePath)
readCsvData(filePath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [44]:
filePath = 'C:\\Users\\Siri\\Downloads\\Income.csv'
def readCsvData(filePath):
     return pd.read_csv(filePath)
df = readCsvData(filePath)
print(df)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [45]:
for row in df.values:
    print(row[1],' : ',row[-1])

Alabama  :  41381
Alaska  :  61137
Arizona  :  50602
Arkansas  :  39919
California  :  57528

In [46]:
# Average income of california
def avgofstate ():
    s = 0
    for i in range(2,11):
        s += df.values[4][i]
    return s // len(df.values[4] [2:])
avgofstate()

55350

In [51]:
# Function which only displays the column names in the list
# GEOID state 

def printDataFrameColumns(df):
    li = []
    columns = df.columns
    for i in columns:
        li.append(i)
    return li 
printDataFrameColumns(df)

['GEOID',
 'State',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [52]:
filePath = 'C:\\Users\\Siri\\Downloads\\RegularSeasonCompactResults.csv'
def readCsvData(filePath):
     return pd.read_csv(filePath)
df = readCsvData(filePath)
print(df)

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
5         1985      25   1218      79   1337      78    H      0
6         1985      25   1228      64   1226      44    N      0
7         1985      25   1242      58   1268      56    N      0
8         1985      25   1260      98   1133      80    H      0
9         1985      25   1305      97   1424      89    H      0
10        1985      25   1307     103   1288      71    H      0
11        1985      25   1344      75   1438      71    N      0
12        1985      25   1374      91   1411      72    H      0
13        1985      25   1412      70   1397      65    N      0
14        1985      25   1417      87   1225      58    H      0
15        1985      26   1116      65   1368      62    H      0
16        1985      26   1120      92   1391      50    H      0
17        1985      26   1135      65   1306      60    A      0
18        1985      26   1143      58   1388      53    H      0
19        1985      26   1153      50   1184      48    H      0
20        1985      26   1165      47   1159      40    A      0
21        1985      26   1171      55   1216      52    H      0
22        1985      26   1173      76   1134      56    H      0
23        1985      26   1177      59   1296      58    H      0
24        1985      26   1193      79   1265      76    A      0
25        1985      26   1196     106   1416      55    H      0
26        1985      26   1206      95   1137      77    H      0
27        1985      26   1210      79   1149      66    H      0
28        1985      26   1211      64   1102      59    A      0
29        1985      26   1234      76   1114      47    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145259    2016     130   1452      69   1328      67    N      0
145260    2016     131   1114      72   1418      65    N      0
145261    2016     131   1138      64   1103      61    N      0
145262    2016     131   1163      77   1396      62    N      0
145263    2016     131   1167      57   1308      54    N      0
145264    2016     131   1201      68   1361      63    N      0
145265    2016     131   1214      81   1354      69    N      0
145266    2016     131   1218      64   1253      60    N      0
145267    2016     131   1242      81   1452      71    N      0
145268    2016     131   1246      93   1208      80    N      0
145269    2016     131   1272      74   1408      54    N      0
145270    2016     131   1277      64   1268      61    N      0
145271    2016     131   1292      55   1330      53    N      0
145272    2016     131   1314      61   1438      57    N      0
145273    2016     131   1332      88   1428      57    N      0
145274    2016     131   1345      76   1276      59    N      0
145275    2016     131   1371      69   1437      67    N      0
145276    2016     131   1372      82   1394      60    N      0
145277    2016     131   1380      54   1238      53    N      0
145278    2016     131   1386      82   1173      79    N      0
145279    2016     131   1392      80   1436      74    H      0
145280    2016     131   1401      71   1261      38    N      0
145281    2016     131   1419      82   1426      71    N      0
145282    2016     131   1433      76   1172      54    N      0
145283    2016     131   1451      62   1285      59    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [53]:
# convert all column names into list
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In [54]:
# describe() min,max,count,mean and etc
df.describe()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot
count,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000
mean,2001.574834,75.223816,1286.720646,76.600321,1282.864064,64.497009,0.044387
std,9.233342,33.287418,104.570275,12.173033,104.829234,11.380625,0.247819
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1994.000000,47.000000,1198.000000,68.000000,1191.000000,57.000000,0.000000
50%,2002.000000,78.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2010.000000,103.000000,1379.000000,84.000000,1375.000000,72.000000,0.000000
max,2016.000000,132.000000,1464.000000,186.000000,1464.000000,150.000000,6.000000

In [55]:
df.shape

(145289, 8)

In [56]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0